/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

/**********************************************
# Design Steps
1. Default css
2. Variable
3. reusable css
4. Header section
5. hero section
6. Trending section
#. footer section
0. responsive
 
 **********************************************/

/************* 1. Default css ************/
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #070707;
  color: #fff;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

/************* 2. Variable *************/
:root {
  --primary-color: #fa9021;
  --secondary-color: #e87d0e;
}

/************* 3. reusable css *************/
.sec-title {
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 187.5%;
}

.subtitle {
  color: #fff;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 200%;
}

.primary-btn {
  display: inline-flex;
  padding: 10px 25px;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 500;
  border-radius: 6px;
  color: #fff;
  transition: 0.6s;
}

.primary-btn:hover {
  background: #fff;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/************* 4. Header section *************/
.navbtn {
  background-color: var(--primary-color);
}

.navbar-nav li {
  position: relative;
}

.navbar-nav li a:after {
  content: "";
  display: block;
  width: 0;
  height: 4px;
  background: url("assets/images/border-bottom.svg") no-repeat;
  position: absolute;
  bottom: -5px;
  margin-inline: auto !important;
  transition: 0.3s;
}

.navbar-nav li a:hover:after {
  width: 100%;
}

/************* 5. hero section *************/
.heroimg {
  position: relative;
  top: -100px;
  left: 90px;
}

.threed-title {
  color: #e87d0e;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 155.2%;
}

.herobtn {
  border-radius: 40px;
  background: linear-gradient(92deg, #fa8305 2.08%, #fb9e3c 117.25%);
  font-size: 16px;
}

.cry {
  position: absolute;
  top: 85px;
  left: 100px;
}

.unreal {
  position: absolute;
  top: 95px;
  right: 100px;
}

.unity1 {
  position: absolute;
  top: 300px;
  left: -60px;
}

/************* 6. Trending section *************/
.circle {
  position: absolute;
  top: -67px;
  right: 125px;
}

/************* #. footer section *************/
.btn-floating {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: #fff;
}

/************* 0. responsive *************/
@media (min-width: 769px) {
  .hero-p {
    width: 85%;
  }

  .social-icon {
    margin-top: 120px;
  }

  .trending-title {
    width: 55%;
    margin-inline: auto;
  }

  .trending-sub {
    width: 45%;
  }
}

@media (max-width: 769px) {
  .offcanvas-body {
    background: #070707;
  }
  .herobtn {
    display: flex;
  }

  .cry,
  .unity1,
  .unreal {
    display: none;
  }

  .heroimg {
    left: 122px;
  }
}

@media (max-width: 426px) {
  .heroimg {
    left: 68px;
  }
}
